<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome Your Id Has Been Created</h1>
    <h2>Your User Id  is:<%=data.mail_id%></h2>
    <h2>Your Password is:<%=data.pwd%></h2>
        <a href="/">Login Now</a>
    

</body>
</html>