<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
</head>
<body>
    <form method="POST" action="/" name="f1" id="f1" enctype="multipart/form-data">
        UPLOAD DATA <input type="file" id="up" name="up" ><br>
        <input type="submit" name="submit" id="submit">

    </form>
</body>
</html>