<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
</head>
<body>
    <form action='/items' method="post" name="f1" id="f1" enctype="multipart/form-data">
    <h1>Add Items</h1>
    Icode:<input type="text" name="icode" id="icode"><br>
    Iname:<input type="text" name="iname" id="iname"><br>
    Category:<input type="text" name="category" id="category"><br>
    Price:<input type="text" name="price" id="price"><br>
    Image:<input type="file" name="image" id="image"><br>
    <input type="submit">
</form>
</body>
</html>