<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="ajax.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <form name ="f1" id="f1" >
        <h2>TYPE YOUR SEARCH</h2>
        <input type="text" name="search" id="search" onkeyup="show(this.value)">
        <div id="livesearch">Search Content</div>
    </form>
</body>
</html>